
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Slab&display=swap');

/* font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* font-family: 'Roboto Slab', serif; */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; */

* {
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
  color:rgb(15, 15, 15)
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.container-navi {
  background-color: black;
}


.navi ul li a{
  color: white;
  text-decoration: none;
  
}

.navi li {
  display: inline;
  font-size: 30px;
  padding: 20px;
  list-style-type: none;
  
  
}

.navi {
  text-align: center;
}



.heading-top {
  text-align: center;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 40px;
}


.homer {
  height: auto;
  width: 300px;
  margin: 20px auto;
  border-radius: 10%;
}

.container-main-list {
  margin: 20px auto;
}

.container-main-list ul li {
  list-style-type: none;
  font-size: 25px;
  padding: 5px;
  margin: 15px auto;
  font-weight: bold;
  text-align: center;
}



.footer ul {
  list-style-type: none;
  text-align: center;
  color: white;
}

.footer {
  background-color: black;
  
  position: fixed;
  Width: 100%;
  bottom: 0
}

.footer ul li a{
  font-size: 20px;
  color: white;

}